# JSON : 실시간 지하철 위치

1. 나의 인증키,타입, 서비스, URL 등 요청인자(변수명) 정의 
2. 기존에 제시한 URL을 f스트링으로 변수를 넣을 수 있게 변환해줌 
3. requests를 import하고, get함수로 URL을 불러와줌 -> response라는 변수에 넣어줌
4. response함수를 json으로 읽어줌 -> json_data라는 변수에 넣어줌
5. json_data의 key값을 조회하여 확인함. 불러와야할 대상을 명료하게 좁히는 단계임
6. key값이 되는 값을 json_data['  ']로 정의해주고, data라는 변수에 넣어줌
7. pandas를 임포트하여 data를 DataFrame형태로 만들어줌

In [2]:
# 기본적인 정보 입력해 

API_KEY = '55674272676d65793832626b4f6d75'

TYPE = 'json'
SERVICE = 'realtimePosition'
START_INDEX = '0'
END_INDEX = '5'
subwayNm = '1호선'
URL = f'http://swopenAPI.seoul.go.kr/api/subway/{API_KEY}/{TYPE}/{SERVICE}/{START_INDEX}/{END_INDEX}/{subwayNm}'
# http://swopenAPI.seoul.go.kr/api/subway/(인증키)/xml/realtimePosition/0/5/1호선

In [3]:
# URL 읽어와
import requests
response = requests.get(URL)

In [4]:
#json형식으로 가져와
json_data = response.json()
json_data

{'errorMessage': {'status': 200,
  'code': 'INFO-000',
  'message': '정상 처리되었습니다.',
  'link': '',
  'developerMessage': '',
  'total': 96},
 'realtimePositionList': [{'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 96,
   'rowNum': 1,
   'selectedCount': 5,
   'subwayId': '1001',
   'subwayNm': '1호선',
   'statnId': '1001000133',
   'statnNm': '서울',
   'trainNo': '0680',
   'lastRecptnDt': '20230824',
   'recptnDt': '2023-08-24 19:59:04',
   'updnLine': '0',
   'statnTid': '1001000119',
   'statnTnm': '광운대',
   'trainSttus': '2',
   'directAt': '0',
   'lstcarAt': '0'},
  {'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 96,
   'rowNum': 2,
   'selectedCount': 5,
   'subwayId': '1001',
   'subwayNm': '1호선',
   'statnId': '1001000132',
   'statnNm': '시청',
   'trainNo': '0691',
   'lastRecptnDt': '20230824',
   'recptnDt': '2023-08-24 19:59:39',
   'updnLine': '1',
   'statnTid': '1001080169',
   'statnTnm': '천안',
   'trainSttus': '1',
   'directAt': '0',
   'lstcarAt': '0'},
  {'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 96,
   'rowNum': 3,
   'selectedCount': 5,
   'subwayId': '1001',
   'subwayNm': '1호선',
   'statnId': '1001000132',
   'statnNm': '시청',
   'trainNo': '0183',
   'lastRecptnDt': '20230824',
   'recptnDt': '2023-08-24 19:56:49',
   'updnLine': '1',
   'statnTid': '1001000161',
   'statnTnm': '인천',
   'trainSttus': '1',
   'directAt': '0',
   'lstcarAt': '0'},
  {'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 96,
   'rowNum': 4,
   'selectedCount': 5,
   'subwayId': '1001',
   'subwayNm': '1호선',
   'statnId': '1001000131',
   'statnNm': '종각',
   'trainNo': '0185',
   'lastRecptnDt': '20230824',
   'recptnDt': '2023-08-24 19:59:28',
   'updnLine': '1',
   'statnTid': '1001000161',
   'statnTnm': '인천',
   'trainSttus': '1',
   'directAt': '0',
   'lstcarAt': '0'},
  {'beginRow': None,
   'endRow': None,
   'curPage': None,
   'pageRow': None,
   'totalCount': 96,
   'rowNum': 5,
   'selectedCount': 5,
   'subwayId': '1001',
   'subwayNm': '1호선',
   'statnId': '1001000127',
   'statnNm': '동묘앞',
   'trainNo': '0189',
   'lastRecptnDt': '20230824',
   'recptnDt': '2023-08-24 19:59:30',
   'updnLine': '1',
   'statnTid': '1001000161',
   'statnTnm': '인천',
   'trainSttus': '2',
   'directAt': '0',
   'lstcarAt': '0'}]}

In [5]:
#key값 확인해
json_data.keys()

dict_keys(['errorMessage', 'realtimePositionList'])

In [26]:
#키값 불러와서 data에 넣어
data = json_data['realtimePositionList']

In [25]:
!pip install pandas

Requirement already satisfied: pandas in /Users/yeon/anaconda3/envs/web_scapping/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/yeon/anaconda3/envs/web_scapping/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/yeon/anaconda3/envs/web_scapping/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/yeon/anaconda3/envs/web_scapping/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/yeon/anaconda3/envs/web_scapping/lib/python3.8/site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in /Users/yeon/anaconda3/envs/web_scapping/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [27]:
#데이터 프레임 형식으로 만들어
import pandas as pd
df = pd.DataFrame(data)
df.head()

,beginRow,endRow,curPage,pageRow,totalCount,rowNum,selectedCount,subwayId,subwayNm,statnId,statnNm,trainNo,lastRecptnDt,recptnDt,updnLine,statnTid,statnTnm,trainSttus,directAt,lstcarAt
0,None,None,None,None,79,1,5,1001,1호선,1001000125,제기동,0094,20230824,2023-08-24 14:26:33,0,1001000110,의정부,2,0,0
1,None,None,None,None,79,2,5,1001,1호선,1001000129,종로5가,0096,20230824,2023-08-24 14:27:29,0,1001000100,소요산,0,0,0
2,None,None,None,None,79,3,5,1001,1호선,1001000132,시청,0117,20230824,2023-08-24 14:27:00,1,1001000161,인천,2,0,0
3,None,None,None,None,79,4,5,1001,1호선,1001000131,종각,0098,20230824,2023-08-24 14:27:03,0,1001000107,양주,1,0,0
4,None,None,None,None,79,5,5,1001,1호선,1001000128,동대문,0461,20230824,2023-08-24 14:26:15,1,1001801571,서동탄,1,0,0

In [60]:
API_KEY = '5756456f7a6d65793233537243784a'
TYPE = 'json'
SERVICE = 'DailyAverageRoadside'
START_INDEX = '1'
END_INDEX = '5'
MSRDT_DE = '20200315'
URL = f'http://openAPI.seoul.go.kr:8088/{API_KEY}/{TYPE}/{SERVICE}/{START_INDEX}/{END_INDEX}/{MSRDT_DE}'

In [61]:
import requests
response = requests.get(URL)

In [79]:
json_data.keys()

dict_keys(['DailyAverageRoadside'])

In [91]:
data = json_data['DailyAverageRoadside']['row'] #키값 데이터 위치가 달랐던 것!!!!!!

In [92]:
import pandas as pd
df = pd.DataFrame(data)
df.head()

   MSRDT_DE MSRCLS_CD MSRSTE_NM  PM10     O3    NO2   CO    SO2
0  20200315        고공       북한산  40.0  0.039  0.007  0.6  0.004
1  20200315        고공        남산  36.0  0.036  0.009  0.9  0.004
2  20200315        경계        항동  44.0  0.030  0.014  0.4  0.003
3  20200315        경계        행주  48.0  0.030  0.011  0.8  0.004
4  20200315        경계        세곡  51.0  0.024  0.011  0.7  0.003