# JSON 불러오기 (서울시 도로변 기간별 일평균 대기환경 현황)

https://data.seoul.go.kr/dataList/OA-2224/S/1/datasetView.do

In [3]:
API_KEY = '55674272676d65793832626b4f6d75'
TYPE = 'json'
SERVICE = 'DailyAverageRoadside'
START_INDEX = '1'
END_INDEX = '5'
MSRDT_DE = '20200315'

URL = f'http://openAPI.seoul.go.kr:8088/{API_KEY}/{TYPE}/{SERVICE}/{START_INDEX}/{END_INDEX}/{MSRDT_DE}'

In [9]:
import requests
response = requests.get(URL)
response

In [10]:
data_json = response.json()
data_json

{'DailyAverageRoadside': {'list_total_count': 25,
  'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'},
  'row': [{'MSRDT_DE': '20200315',
    'MSRCLS_CD': '고공',
    'MSRSTE_NM': '북한산',
    'PM10': 40.0,
    'O3': 0.039,
    'NO2': 0.007,
    'CO': 0.6,
    'SO2': 0.004},
   {'MSRDT_DE': '20200315',
    'MSRCLS_CD': '고공',
    'MSRSTE_NM': '남산',
    'PM10': 36.0,
    'O3': 0.036,
    'NO2': 0.009,
    'CO': 0.9,
    'SO2': 0.004},
   {'MSRDT_DE': '20200315',
    'MSRCLS_CD': '경계',
    'MSRSTE_NM': '항동',
    'PM10': 44.0,
    'O3': 0.03,
    'NO2': 0.014,
    'CO': 0.4,
    'SO2': 0.003},
   {'MSRDT_DE': '20200315',
    'MSRCLS_CD': '경계',
    'MSRSTE_NM': '행주',
    'PM10': 48.0,
    'O3': 0.03,
    'NO2': 0.011,
    'CO': 0.8,
    'SO2': 0.004},
   {'MSRDT_DE': '20200315',
    'MSRCLS_CD': '경계',
    'MSRSTE_NM': '세곡',
    'PM10': 51.0,
    'O3': 0.024,
    'NO2': 0.011,
    'CO': 0.7,
    'SO2': 0.003}]}}

In [6]:
data_json.keys()

dict_keys(['DailyAverageRoadside'])

### 주의 : 데이터 출력되는걸 보고 내가 찾으려는 데이터가 어디에 있는지 잘 파악해서 범위를 좁혀줘야함

In [12]:
data = data_json['DailyAverageRoadside']['row']

In [13]:
import pandas as pd
result = pd.DataFrame(data)
result.head()

   MSRDT_DE MSRCLS_CD MSRSTE_NM  PM10     O3    NO2   CO    SO2
0  20200315        고공       북한산  40.0  0.039  0.007  0.6  0.004
1  20200315        고공        남산  36.0  0.036  0.009  0.9  0.004
2  20200315        경계        항동  44.0  0.030  0.014  0.4  0.003
3  20200315        경계        행주  48.0  0.030  0.011  0.8  0.004
4  20200315        경계        세곡  51.0  0.024  0.011  0.7  0.003